.chat-body-wrapper {
  position: absolute;
  right: 75px;
  bottom: 0px;
  z-index: 20;

  @media screen and (max-width: 500px) {
    position: absolute;
    right: 0px;
    bottom: 75px;
  }

  @media screen and(max-width: 430px) {
    position: absolute;
    right: -16px;
    bottom: 75px;
  }

  @media screen and(max-width: 400px) {
    position: absolute;
    right: -36px;
    bottom: 75px;
  }

  // .center {
  //   position: absolute;
  //   top: 50%;
  //   left: calc(50% + 12rem);
  // }

  .sign-in-chat {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 5px;
  }

  .reaction-icons {
    padding: 5px 10px;
    border-radius: 20px;
    border: 2px solid grey;
    background-color: #343a40;
    width: 170px;
    z-index: 10;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    left: -80px;
    bottom: 23px;

    .fa-heart {
      color: red;
      font-size: 24px;
    }
    .fa-sad-cry {
      color: #fac552;
      font-size: 24px;
    }
    .fa-laugh-squint {
      color: #fac552;
      font-size: 24px;
    }
    .fa-angry {
      color: #fac552;
      font-size: 24px;
    }
  }

  .pic {
    width: 4rem;
    height: 4rem;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
  }

  // .contact {
  //   position: relative;
  //   padding-left: 8.5rem;
  //   height: 4.5rem;

  //   padding-top: 10px;

  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;

  //   .pic {
  //     position: absolute;
  //     left: 0;
  //   }

  //   .name {
  //     font-weight: 500;
  //     margin-bottom: 0.125rem;
  //   }

  //   .message,
  //   .seen {
  //     font-size: 0.9rem;
  //     color: #999;
  //   }

  //   .badge {
  //     box-sizing: border-box;
  //     position: absolute;
  //     width: 1.5rem;
  //     height: 1.5rem;
  //     text-align: center;
  //     font-size: 0.9rem;
  //     padding-top: 0.125rem;
  //     border-radius: 1rem;

  //     top: 0;
  //     left: 2.5rem;
  //     background: #333;
  //     color: white;
  //   }
  // }

  .contacts {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-6rem, -50%);

    width: 24rem;
    height: 32rem;
    padding: 1rem 2rem 1rem 1rem;
    box-sizing: border-box;
    border-radius: 1rem 0 0 1rem;

    cursor: pointer;

    background: white;
    box-shadow: 0 0 8rem 0 rgba(black, 0.1),
      2rem 2rem 4rem -3rem rgba(black, 0.5);

    transition: transform 500ms;

    h2 {
      margin: 0.5rem 0 1.5rem 5rem;
    }

    .fa-bars {
      position: absolute;
      left: 2.25rem;

      color: #999;
      transition: color 200ms;

      &:hover {
        color: #666;
      }
    }

    .contact:last-child {
      margin: 0;
    }

    &:hover {
      transform: translate(-23rem, -50%);
    }
  }

  .chat {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 24rem;
    max-height: 38rem;
    z-index: 2;
    box-sizing: border-box;
    border-radius: 1rem;

    background: white;
    box-shadow: 0 0 8rem 0 rgba(black, 0.1),
      0rem 2rem 4rem -3rem rgba(black, 0.5);

    .contact.bar {
      flex-basis: 3.5rem;
      flex-shrink: 0;
      box-sizing: border-box;
      background-color: #fd5631;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    .messages {
      padding: 1rem;
      background: #f7f7f7;
      flex-shrink: 2;
      overflow-y: auto;
      min-height: 52vh;

      box-shadow: inset 0 2rem 2rem -2rem rgba(black, 0.05),
        inset 0 -2rem 2rem -2rem rgba(black, 0.05);

      .chat-message-wrapper-spacing {
        margin: 26px 0px;
      }

      .chat-react-message-list {
        position: absolute;
        display: flex;
        bottom: -22px;
        left: 10px;

        &.from-myself {
          right: 10px;
          left: unset;
        }

        .chat-react-message-icon {
          // border: 1px solid grey;
          border-radius: 15px;
          padding: 5px 8px;
          color: #fff;
          background-color: #343a40;
          font-size: 12px;
          margin-right: 5px;

          &.reacted-by-me {
            background-color: #278df3;
          }

          i {
            margin-right: 4px;
            color: #fac552;
            font-size: 16px;
            font-weight: bold;
            &.fa-heart {
              color: red;
            }
          }
          &:last-of-type {
            margin-right: 0;
          }
        }
      }

      .time {
        font-size: 0.8rem;
        background: #eee;
        padding: 0.25rem 1rem;
        border-radius: 2rem;
        color: #999;
        width: fit-content;
        margin: 0 auto;
      }

      .message-time {
        position: absolute;
        bottom: -20px;
        left: 12px;
        right: unset;
        font-size: 12px;

        &.from-myself {
          right: 9px;
          left: unset;
        }
      }

      .message {
        box-sizing: border-box;
        padding: 0.5rem 1rem;
        margin: 0rem 0.5rem 0rem 0.5rem;
        background: #fff;
        border-radius: 1.125rem 1.125rem 1.125rem 0;
        min-height: 2.25rem;
        width: fit-content;
        max-width: 66%;
        word-break: break-word;

        &.typing-myself {
          border-radius: 1.125rem 1.125rem 0rem 1.125rem;
        }

        box-shadow: 0 0 2rem rgba(black, 0.075),
          0rem 1rem 1rem -1rem rgba(black, 0.1);

        &.from-myself {
          margin: 0rem 0.5rem 0rem 0.5rem;
          border-radius: 1.125rem 1.125rem 0 1.125rem;
          background: #fd5631;
          color: white;
        }

        .typing {
          display: inline-block;
          width: 0.8rem;
          height: 0.8rem;
          margin-right: 0rem;
          box-sizing: border-box;
          background: #ccc;
          border-radius: 50%;

          &.typing-1 {
            animation: typing 3s infinite;
          }
          &.typing-2 {
            animation: typing 3s 250ms infinite;
          }
          &.typing-3 {
            animation: typing 3s 500ms infinite;
          }
        }
      }
    }

    .input {
      box-sizing: border-box;
      flex-basis: 4rem;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      padding: 0 0.5rem 0 1.5rem;

      i {
        font-size: 1.5rem;
        margin-right: 1rem;
        color: #666;
        cursor: pointer;
        transition: color 200ms;

        &:hover {
          color: #333;
        }
      }

      input {
        border: none;
        background-image: none;
        background-color: white;
        padding: 0.5rem 1rem;
        margin-right: 1rem;
        border-radius: 1.125rem;
        flex-grow: 2;
        box-shadow: 0 0 1rem rgba(black, 0.1),
          0rem 1rem 1rem -1rem rgba(black, 0.2);

        font-family: Red hat Display, sans-serif;
        font-weight: 400;
        letter-spacing: 0.025em;

        &:placeholder {
          color: #999;
        }
      }
    }
  }
}

@keyframes typing {
  0%,
  75%,
  100% {
    transform: translate(0, 0.25rem) scale(0.9);
    opacity: 0.5;
  }

  25% {
    transform: translate(0, -0.25rem) scale(1);
    opacity: 1;
  }
}

.pic.stark {
  background-image: url("https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/7/73/SMH_Mentor_6.png");
}
