.credit-card-container {
  width: 350px;
  height: 200px;
  background: linear-gradient(to top right, rgb(11, 63, 87), rgb(78, 68, 68));
  position: relative;
  border-radius: 10px;
  padding: 5px;

  &.selected {
    background: #fd390e;
  }
}

.credit-card-content {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  justify-content: space-evenly;
}

.credit-card-content .top-section {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.credit-card-content .top-section span {
  color: white;
  font-size: 14px;
}

.credit-card-content .top-section i {
  font-size: 24px;
  color: white;
}

.credit-card-content .mid-section {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  min-height: 40px;
}

.credit-card-content .mid-section span {
  margin-right: 10px;
}

.card-number-label {
  font-size: 10px;
  color: lightgray;
}

.card-number-value {
  color: white;
  font-size: 16px;
}

.credit-card-content .bottom-section {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  min-height: 40px;
}

.credit-card-content .end-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.expires {
  display: flex;
  flex-direction: column;
}

.cvv {
  display: flex;
  flex-direction: column;
}

.fa-times {
  color: white;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}
